@using gpw.helpers;
@model gpw.Models.thanh_vien

@{
    ViewBag.Title = "Trang cá nhân " + Model.ho_ten;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section meta {
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
}

@*@{
        if (configs.getCookie("ten_thanh_vien") != "")
        {
            ViewBag.Title += configs.getCookie("ten_thanh_vien");
        }
    }*@


<div class="row section_1" style="background: #fff;">
    <div class="col-md-8">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        @if (ViewBag.isAdmin == 1)
        {
            <p>
                @Html.ActionLink("Sửa thông tin cá nhân", "Edit", new { id = Model.id }) |
                <a href="/ThanhVien/CayGiaPha?thanhvien_id=@Model.id">Khai báo gia phả</a>
                | <a href="/ThanhVien/VietBai">Viết bài</a>
            </p>
        }

        @if (Model != null)
        {
            <div class="thumbnail">
                <img src="@Model.hinh_anh" alt="..." style="width: 100px; height: 125px;">
                <div class="caption">
                    <h3>Họ tên: @Model.ho_ten</h3>
                    <p>Nơi sống: @Model.dia_chi</p>
                    <p>Email: @Model.email</p>
                    <p>Số điện thoại: @Model.so_dien_thoai</p>
                    <p>Ngày sinh: @string.Format("{0:dd/MM/yyyy}", @Model.ngay_sinh)</p>
                </div>
            </div>

            { Html.RenderAction("LoadThanhVien", "ThanhVien", new { id = Model.id }); }
        }

    </div>
    <div class="col-md-4">
        @*<img src="~/images/caudoiphai.png" class="img-responsive" style="display: inline-block;" />
            <img src="~/images/caudoitrai.png" class="img-responsive" style="display: inline-block;" />*@
        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding: 0;">
                <h3>Tìm kiếm</h3>
            </div>

            <div class="panel-body">
                @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline", role = "form", @id = "form_search" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" name="keyword" id="keyword" class="form-control" placeholder="Nhập địa chỉ email hoặc số điện thoại" required />
                            </div>
                        </div>
                        <button class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                    }*@
                <div class="search-bar">
                    <form action="/Home/Search" method="GET" role="form" id="form_search">
                        <div class="form-group">
                            <input style="max-width: 100%;" type="text" class="form-control" name="keyword" id="keyword" placeholder="Nhập từ khóa tìm kiếm">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding-bottom: 0;">
                <h3>Thống kê thành viên</h3>
            </div>
            <div class="panel-body">
                @{Html.RenderAction("LoadThanhVien", "Home");}
                <div class="col-md-12 item_thanhvien border_w0">
                    <h3>Mẫu gia phả</h3>
                    <a class="image-popup-vertical-fit" href="/Images/maugiapha.jpg">
                        <img src="/Images/maugiapha0.jpg" class="img-responsive image-popup-vertical-fit" alt="Gia Phả Họ Phan" height="170">
                    </a>
                </div>
            </div>
        </div>



    </div>
</div>
