@using gpw.Models
@model thanh_vien_login_model
@{
    ViewBag.Title = "Thành viên đăng nhập";
}

@section meta {
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
}

<div class="row" style="background: #fff;">
    <div class="col-md-8" id="dang_nhap_thanh_vien_moi">
        <div class="page-header">
            <h2>@ViewBag.Title.</h2>
        </div>
        @using (Html.BeginForm("Login", "ThanhVien", FormMethod.Post, new { id = "form_dang_nhap_thanh_vien", role = "form" }))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Đăng ký tài khoản thành viên", "Create")
                </p>
            </div>

        }
    </div>
    <div class="col-md-4">
        @*<img src="~/images/caudoiphai.png" class="img-responsive" style="display: inline-block;" />
            <img src="~/images/caudoitrai.png" class="img-responsive" style="display: inline-block;" />*@
        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding: 0;">
                <h3>Tìm kiếm</h3>
            </div>

            <div class="panel-body">
                @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline", role = "form", @id = "form_search" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" name="keyword" id="keyword" class="form-control" placeholder="Nhập địa chỉ email hoặc số điện thoại" required />
                            </div>
                        </div>
                        <button class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                    }*@
                <div class="search-bar">
                    <form action="/Home/Search" method="GET" role="form" id="form_search">
                        <div class="form-group">
                            <input style="max-width: 100%;" type="text" class="form-control" name="keyword" id="keyword" placeholder="Nhập từ khóa tìm kiếm">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding-bottom: 0;">
                <h3>Thống kê thành viên</h3>
            </div>
            <div class="panel-body">
                @{Html.RenderAction("LoadThanhVien", "Home");}
                <div class="col-md-12 item_thanhvien border_w0">
                    <h3>Mẫu gia phả</h3>
                    <a class="image-popup-vertical-fit" href="/Images/maugiapha.jpg">
                        <img src="/Images/maugiapha0.jpg" class="img-responsive image-popup-vertical-fit" alt="Gia Phả Họ Phan" height="170">
                    </a>
                </div>
                <div class="col-md-12 item_thanhvien border_w0">
                    <h3>ĐĂNG KÝ LÀM GIA PHẢ</h3>
                    <a class="btn-primary btn" href="/thiet-ke-gia-pha" style="width:100%;">
                        ĐĂNG KÝ LÀM GIA PHẢ
                    </a>
                    <a class="btn-info btn" href="tel:0979776427" style="width:100%;">
                        Gọi 097 977 6427
                    </a>
                </div>
            </div>
        </div>

       

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}