<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <meta name="description" content="@Html.Raw(@ViewBag.des)">
    <meta name="robots" content="index,follow,noodp" />
    <meta name="author" content="vietgiapha.com" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Html.Raw(ViewBag.url)" />
    <meta property="og:title" content="@Html.Raw(@ViewBag.title)" />
    <meta property="og:description" content="@Html.Raw(@ViewBag.des)" />
    <meta property="og:image" itemprop="thumbnailUrl" content="@ViewBag.image" />
    <meta property="fb:admins" content="100006557590947" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92968790-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1978093275845674');
  fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1978093275845674&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script src="~/Scripts/jspdf.debug.js"></script>
</head>
<body>
    <div style="display:block;position:fixed;top:0;right:20%;color:#ffffff;background-color:#ff00dc;font-weight:bold;"><a href="tel:0979776427" style="color: #ffffff; background-color: #ff00dc;">Liên Hệ 0979776427</a></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
