@model List<gpw.Models.news>


@if (Model != null)
{
    foreach (var item in Model)
    {
        string _link = Config.unicodeToNoMark(item.new_title) + "-" + item.id;
        @*<div class="col-md-3" style="padding-bottom:15px;">
            <div class="kf_agent_wrap">
                <a href="@_link" style="width: 265px;">
                    <figure>
                        <img src="http://vietgiapha.com/@item.new_img" alt="@item.new_title" style="width: 80%; height: 200px;border-radius:20px;border:1px solid;">
                        <figcaption>
                            <span class="kf_listing_overlay"></span>
                        </figcaption>
                    </figure>
                </a>
                <div class="kf_agent_des" style="width: 80%;">
                    <h6><a href="@_link">@item.new_title</a></h6>
                    <span class="kf_property_line"></span>
                </div>
            </div>
        </div>*@
        <div class="col-md-6" style="border-top: 1px solid #cbcbcb;border-bottom: 1px solid #cbcbcb;margin-bottom: 7px;background: #f5f5f5;">
            <div class="row">
                <div class="carousel-item post-images col-xs-4">
                    <a href="@_link" alt="@item.new_title" class="thumb-zoom">
                        <img src="@item.new_img" class="img-responsive" style="height:163px;width:163px;border:1px solid #808080;border-radius:10px;">
                    </a>
                </div>
                <div class="post-description col-xs-8">
                    <a href="@_link">
                        <p class="post-title">
                            @item.new_title
                        </p>
                    </a>
                    <div class="col-xs-12 noPadding">
                        @item.new_des
                    </div>
                </div>
            </div>
        </div><!-- /.category-single-post -->
    }
}


