@model List<gpw.Models.news>


@if (Model != null)
{
    foreach (var item in Model)
    {
        string _link = Config.unicodeToNoMark(item.new_title) + "-" + item.id;
        <div class="col-md-3">
            <div class="kf_agent_wrap">
                <a href="@_link" style="width: 265px;">
                    <figure>
                        <img src="@item.new_img" alt="@item.new_title" style="width: 100%; height: 200px;">
                        <figcaption>
                            <span class="kf_listing_overlay"></span>
                        </figcaption>
                    </figure>
                </a>
                <div class="kf_agent_des">
                    <h6><a href="@_link">@item.new_title</a></h6>
                    <span class="kf_property_line"></span>
                </div>
            </div>
        </div>
    }
}


